@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --header-height: 3.5rem;
  --primary-color: #4a4a4a;
  --primary-color-alt: #575757;
  --linear-gradient: linear-gradient(
    54deg,
    rgba(45, 45, 45, 0.95) 34%,
    rgba(45, 45, 45, 0.95)
  );
  --title-color: #4a4a4a;
  --text-color: #555;
  --text-color-alt: #999;
  --bg-color: #fff;
  --bg-color-alt: #e9ecef;
  --border-color: #f1f1f1;

  --roboto-font: "Roboto", sans-serif;
  --mono-font: "Roboto Mono", serif;

  --fs-h1: 2.75rem;
  --fs-h2: 2.25rem;
  --fs-lg: 1.125rem;
  --fs-base: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;

  --medium: 500;
  --semibold: 600;
  --bold: 700;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--roboto-font);
  font-size: var(--fs-base);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--mono-font);
  font-weight: var(--bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

textarea,
input {
  background: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 0.9rem;
}

.grid {
  display: grid;
}

.section {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

/* NAVIGATION STYLES */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
}

.nav {
  height: calc(var(--header-height) + 0.875rem);
  display: flex;
  align-items: flex-end;
}

nav .list {
  display: flex;
  column-gap: 3.25rem;
  padding-left: 0px;
}

.nav__close,
.nav__toggle {
  display: none;
}

.nav_link {
  color: #fff;
  font-size: 0.9rem;
  font-weight: var(--bold);
  font-family: var(--mono-font);
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
}

.nav_link:hover {
  opacity: 0.5;
}

.nav_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -0.5rem;
  width: 7px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.nav_link:hover::after {
  opacity: 1;
}

/* Active link */
.active_link {
  opacity: 0.5;
}
.active_link::after {
  opacity: 1;
}

/* Scroll header */
.scroll_header {
  position: fixed;
  background-color: var(--bg-color);
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 14%);
}

.scroll_header .nav_link {
  color: var(--text-color);
}

.scroll_header .nav {
  align-items: center;
}

.scroll_header .nav_link::after {
  background-color: var(--text-color);
}

.scroll_header .nav_link:hover,
.scroll_header .active_link {
  color: var(--primary-color);
}

/* HOME STYLES */
.home {
  background: url("../assets/home-bg.avif");
  background-size: 100%;
  background-position: 50%;
  padding-top: 5.5rem;
  margin-bottom: 2.5rem;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--linear-gradient);
}

.home__container {
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
}

.profile,
.home__data {
  z-index: 1;
}

.profile {
  width: 90%;
  height: 380px;
  object-fit: cover;
  border-radius: 0.3rem;
  transform: translateY(3.125rem);
  box-shadow: 0 0 27px rgb(96 96 96 / 34%);
}

.name,
.work,
dl,
.social_handles {
  color: #fff;
  font-family: var(--mono-font);
}

.name {
  font-size: var(--fs-h1);
  line-height: 1.14em;
  margin: 0.9em 0 0.23em;
}

.work {
  margin-bottom: 2.5em;
}

dl dt {
  float: left;
  font-weight: var(--bold);
  opacity: 0.4;
}

dl dd {
  padding-left: 6.35em;
}

dl dd:not(:last-child) {
  margin-bottom: 0.94em;
}

.social_handles {
  margin: 1.25rem 0 2.2rem;
}

.social_link {
  color: #000;
  font-size: 1.7rem;
  line-height: 1.36em;
  margin-right: 0.25rem;
  opacity: 0.5;
  transition: 0.3s;
}

.social_link:hover {
  opacity: 1;
}

/* Hello section */

.section_title {
  font-size: var(--fs-h2);
  line-height: 1.17em;
  font-weight: var(--medium);
  margin-top: 0.5em;
  margin-bottom: 1.12em;
}

.text_lg {
  font-size: var(--fs-lg);
  line-height: 1.67em;
}

.text_sm {
  font-size: var(--fs-sm);
  line-height: 1.43em;
}

.text_xs {
  font-size: var(--fs-xs);
  line-height: 1.5em;
}

.hello_details {
  margin-bottom: 1.67em;
  text-align: justify;
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.1em 2.1em;
  border-radius: 1.56rem;
  font-weight: var(--semibold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--primary-color-alt);
}

.button--flex {
  display: inline-flex;
  align-items: flex-start;
  column-gap: 0.3rem;
}

/* Skills section */
.skill_container {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.item {
  border: 1px solid var(--border-color);
  padding: 2.5rem 1.25rem;
  text-align: center;
}

/* .item p {
  text-align: justify;
} */

.skills_icon {
  width: 32px;
  margin: auto;
}

.icon_box {
  border: 1px solid var(--border-color);
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin-bottom: 1.25rem;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.skills_dot {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  animation: rotate 2s linear infinite;
  animation-play-state: paused;
}

.item:hover .skills_dot {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.dot {
  width: 13px;
  height: 13px;
  background-color: var(--title-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0.9rem;
}

.skill_title {
  margin-bottom: 0.8em;
}

/* Education */
.edu_item {
  border-left: 2px solid var(--primary-color);
  padding-left: 1.6rem;
  position: relative;
}

.edu_item:not(:last-child) {
  padding-bottom: 3rem;
}

.edu_item::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  position: absolute;
  left: -0.56rem;
  background-color: var(--bg-color);
}

.edu_subtitle {
  color: var(--primary-color);
  margin-bottom: 0.36em;
}

.edu_date {
  color: var(--text-color-alt);
  margin-bottom: 0.7em;
}

.edu_description {
  text-align: justify;
}

/* projects */
.project_categories {
  display: flex;
  column-gap: 3rem;
  margin-bottom: 1.875rem;
}

.category_btn {
  color: var(--text-color-alt);
  font-weight: var(--bold);
  font-family: var(--mono-font);
  position: relative;
}

.category_btn:hover {
  color: var(--primary-color);
}

.category_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -0.5rem;
  width: 7px;
  height: 2px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: 0.3s;
}

.category_btn:hover::after {
  opacity: 1;
}

.active_work {
  color: var(--primary-color);
}

.active_work::after {
  opacity: 1;
}

.projects_container {
  row-gap: 2.5rem;
}

.project_item {
  grid-template-columns: 5fr 7fr;
}

.project_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_data {
  padding: 3rem 3rem 2.5rem 1.875rem;
  border: 1ps solid --border-color;
}

.project_title {
  margin-bottom: 0.8em;
  text-align: justify;
}

.project_description {
  margin-bottom: 2.5em;
  text-align: justify;
}

.project_stack {
  margin-bottom: 1.25em;
}

.tags li {
  display: inline-block;
  margin-right: 0.6rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
}

.project_link {
  float: right;
  margin-top: 3.9em;
  color: #fff;
  font-family: var(--mono-font);
  background-color: #0078d7;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.project_link:hover {
  background-color: #005ea2;
  transform: scale(1.05);
}

/* Testimonials */
.testimonial_bg {
  background: url("../assets/bg.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.testimonial_bg::before {
  content: "";
  background: var(--linear-gradient);
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.testimonial_icon {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  position: absolute;
  top: -2.75rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color);
  font-size: 1.75rem;
  color: var(--primary-color);
  padding-top: 2.75rem;
  text-align: center;
}

.testimonial_container {
  padding-top: 5rem;
  padding-bottom: 7.8rem;
}

.testimonial_item {
  padding: 0 5.75rem;
}

.title,
.subtitle,
.testimonial_description {
  color: #fff;
}

.title {
  text-transform: uppercase;
  margin-bottom: 0.56em;
  font-weight: 400;
}

.subtitle {
  font-style: italic;
  opacity: 0.7;
  margin-bottom: 1.25em;
}

.testimonial_description {
  text-align: justify;
}

.ruler {
  width: 100%;
  height: 1px;
  background-color: #a98a79;
  margin-bottom: 1rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next img,
.swiper-button-prev img {
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 2rem;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 1;
  margin: 0 3px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

/* Blog */
.posts_container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
  margin-bottom: 2.5rem;
}

.post_img {
  vertical-align: middle;
  width: 350px;
  height: 200px;
}

.post_content {
  border: 1px solid var(--border-color);
  padding: 1.25rem 1.875rem 2.5rem 1.25rem;
  height: 300px;
}

.post_date {
  text-transform: uppercase;
  color: var(--text-color-alt);
  margin-bottom: 0.8em;
}

.post_title {
  margin-bottom: 1.1em;
}

.post_description {
  color: var(--text-color-alt);
  text-align: justify;
}

/* Contact */
.contact {
  background: url("../assets/bg.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.contact::before {
  content: "";
  background: var(--linear-gradient);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.contact_content {
  z-index: 1;
  position: relative;
}

.contact_container {
  grid-template-columns: 4fr 5fr 3fr;
  column-gap: 1.875rem;
  padding-top: 1.25rem;
}

.contact .section_title,
.contact_list,
.contact_social_link,
::placeholder,
.contact_input,
.form_title,
.footer,
.contact_list a {
  color: #fff;
  font-family: var(--mono-font);
}

.contact_list {
  margin-bottom: 3.25rem;
}

.contact_list dt {
  float: left;
  font-weight: var(--bold);
  text-transform: uppercase;
}

.contact_list dd {
  padding-left: 6.25em;
  margin-bottom: 0.94em;
}

.contact_socials li {
  margin-bottom: 0.75rem;
  font-family: var(--roboto-font);
}

.contact_social_link {
  font-family: var(--roboto-font);
}

.contact_form {
  position: relative;
}

.form_title {
  margin-bottom: 1.25em;
}

.contact_input_div {
  margin-bottom: 0.94em;
}

.contact_input {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 0.625rem;
}

.textarea {
  height: 7.2rem;
  resize: none;
}

.contact_input:focus {
  box-shadow: inset 0 0 5px 0 #fff;
}

.contact_message {
  position: absolute;
  bottom: 34%;
  left: 0;
  font-family: var(--mono-font);
  color: #fff;
}

.color-light {
  opacity: 1;
}

.color-dark {
  opacity: 0.4;
}

.contact_button {
  margin-top: 1.875rem;
  width: 100%;
  box-shadow: 0 1px 29px rgb(0 0 0 / 40%);
}

.footer {
  opacity: 0.4;
  margin-top: 3.75rem;
  text-align: center;
}

/* Breakpoints */

/*? For large devices */
@media screen and (max-width: 1200px) {
:root {
  --fs-h1: 2.25rem;
  --fs-h2: 1.75rem;
  --fs-lg: 1rem;
  --fs-base: 0.938rem;
  --fs-sm: 0.813rem;
  --fs-xs: 0.687rem;
}

  .container {
    max-width: 960px;
  }

  .home__container {
    grid-template-columns: 5fr 7fr;
  }

  .skill_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
  }
  .list {
    flex-direction: column;
    row-gap: 2.125rem;
    text-align: center;
  }

  .nav__toggle,
  .nav__close {
    display: block;
  }

  .nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 2.7rem;
    left: 8%;
    cursor: pointer;
    color: white;
    z-index: 100;
  }

  .nav__toggle {
    color: #fff;
    font-size: 1.25rem;
    opacity: 0.5;
  }

  .nav__toggle,
  .scroll_header {
    color: var(--text-color);
    opacity: 1;
  }

  .home {
    padding-top: 5.25rem;
  }

  .profile {
    display: none;
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .project_item,
  .resume__container,
  .home__container {
    grid-template-columns: 1fr;
  }

  .resume__container {
    row-gap: 3.75rem;
  }

  .testimonial_container {
    padding-top: 4.4rem;
    padding-bottom: 6.25rem;
  }

  .testimonial_item {
    padding: 0 3.875rem;
  }

  .posts_container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.875rem;
  }

  .contact_container {
    grid-template-columns: 5fr 7fr;
  }
}

/*? For medium devices */
@media screen and (max-width: 768px) { 
  /* 45:10*/
}